name: Deploy DAGs to GCP VM

on:
  push:
    branches:
      - main  # 배포를 원하는 브랜치명으로 수정하세요

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 35.193.6.108
          username: datapopcorn
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. 유저님이 선호하는 DAGs 폴더로 이동
            cd ~/kdt-woongjin
            
            # 2. 만약 해당 폴더가 git 레포가 아니라면 초기 설정
            if [ ! -d ".git" ]; then
              git init
              git remote add origin https://github.com/inyounglee-datapopcorn/kdt-woongjin.git
            fi
            
            # 3. 최신 코드 가져오기 (main 브랜치 기준)
            git fetch --all
            git reset --hard origin/main
            
            # 4. 권한 설정 (Docker 컨테이너가 파일을 읽을 수 있도록 허용)
            sudo chown -R datapopcorn:datapopcorn ~/kdt-woongjin
